<!-- Spell Instances -->
<nav>
    <ul>
         <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/wizards">Wizards</a>
        </li>
        <li>
            <a href="/houses">Houses</a>
        </li>
        <li>
            <a href="/spells">Spells</a>
        </li>
        <li>
            <a href="/instances">Spell Instances</a>
        </li>
        <li>
            <a href="/types">Types</a>
        </li>
       
    </ul>
</nav>

<h1>Spells Instances!</h1>
<p>you can view wizards who have used each spell in this page!</p>
{{!-- Display table with all spells --}}
<table id="spell-table">
    {{!-- Add table headers based on data --}}
    <thead>
        <tr>
            {{#each instances.[0]}}
                <th>
                {{@key}}
                </th>
            {{/each}}
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>

    {{!-- Table Body Section --}}
    {{#each instances}}
    <tr>
        <td>{{this.instance_id}}</td>
        <td>{{this.spell_name}}</td>
        <td>{{this.wizard_name}}</td>
        <td>{{this.notes}}</td>
        <td>
            <a href="updateInstance/{{this.instance_id}}">
                <button>Edit</button>
            </a>
        </td>
        <td><button>Delete</button></td>
    </tr>
    {{/each}}
</table>