<!-- Spell Instances -->

<h1>List of Spells Instances</h1>

<div class="add-button-container" >
  <button id="add-instance-btn">Add Instance</button>
</div>

<h3 class="tagline">View and edit the current list of spell instances:</h3>

{{!-- Display table with all spells --}}
<table id="instances-table">
    {{!-- Add table headers based on data --}}
    <thead>
        <tr>
            <th>Instance ID</th>
            <th>Spell Name</th>
            <th>Wizard Name</th>
            <th>Notes</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>

    {{!-- Table Body Section --}}
    {{#each instances}}
    <tr>
        <td>{{this.instance_id}}</td>
        <td>{{this.spell_name}}</td>
        <td>{{this.wizard_name}}</td>
        <td class="instance-notes">{{this.notes}}</td>  
        <td>
          <a href="/updateInstance/{{this.instance_id}}">
            <div class="icon-container">
              <img src="/images/edit-icon.png"/>
            </div>
          </a>
        </td>
        <td>
          <div class="icon-container" onclick="deleteInstance({{this.instance_id}})">
              <img src="/images/delete-icon.png"/>
            </div>
        </td>
    </tr>
    {{/each}}
</table>

<script src="./js/delete_instance.js"></script>

{{!-- ADD INSTANCE FORM --}}
<div class="modal-container" id="add-instance-modal-container">
  <div class="add-container" id="add-instance-container">
    <div class="close-modal" id="close-add-instance-container">
      <img src="/images/close-icon.png" alt="close icon"/>
    </div>

    <h2>Add Spell Instance</h2>
    <form id="add-instance-form-ajax" class="add-form">
        {{!-- Select wizard --}}
        <div class="form-input-group">
            <label for="instances-wizards-option">Search wizard:</label>
            <input 
            id="instances-wizards-option" 
            list="instances-wizards-option-datalist"
            name="instances-wizards-option"
            type="text"
            placeholder="Search wizard">

            <datalist id="instances-wizards-option-datalist">
                <option value=""></option>
                {{#each wizards}}
                <option value="{{this.wizard_name}}"></option>
                {{/each}}
            </datalist>
        </div>
        
        {{!-- Select Spell --}}
        <div class="form-input-group">
            <label for="instances-spells-option">Search Spell:</label>
            <input 
            id="instances-spells-option"
            list="instances-spells-option-datalist"
            name="instances-spells-option" 
            type="text"
            placeholder="Search spell">

            <datalist id="instances-spells-option-datalist">
                <option value=""></option>
                {{#each spells}}
                <option value="{{this.spell_name}}"></option>
                {{/each}}
            </datalist>
        </div>

        {{!-- Add Notes --}}
        <div class="form-input-group">
            <label for="input-instance-notes">Notes:</label>
            <input type="text" name="input-instance-notes" id="input-instance-notes" placeholder="occured on..."/>
        </div>
        

        <input type="Submit" class="submit-button"/>
    </form>
  </div>
</div>

<script src="./js/add_instance.js"></script>

<script>
  let modal = document.getElementById("add-instance-modal-container");

  // Get the button that opens the modal
  var openBtn = document.getElementById("add-instance-btn");

  // Get the <span> element that closes the modal
  var closeBtn = document.getElementById("close-add-instance-container")

  // When the user clicks the button, open the modal 
  openBtn.onclick = function() {
    modal.style.display = "flex";
    document.body.classList.add("no-scroll")
  }

  // When the user clicks on <span> (x), close the modal
  closeBtn.onclick = function() {
    modal.style.display = "none";
    document.body.classList.remove("no-scroll")
  }

  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function(event) {
    if (event.target == modal) {
      modal.style.display = "none";
    }
}
</script>


