<!-- Spell Instances -->
<nav>
    <ul>
         <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/wizards">Wizards</a>
        </li>
        <li>
            <a href="/houses">Houses</a>
        </li>
        <li>
            <a href="/spells">Spells</a>
        </li>
        <li>
            <a href="/instances">Spell Instances</a>
        </li>
        <li>
            <a href="/types">Types</a>
        </li>
       
    </ul>
</nav>

<h1>Spells Instances!</h1>
<p>you can view wizards who have used each spell in this page!</p>
{{!-- Display table with all spells --}}
<table id="instances-table">
    {{!-- Add table headers based on data --}}
    <thead>
        <tr>
            {{#each instances.[0]}}
                <th>
                {{@key}}
                </th>
            {{/each}}
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>

    {{!-- Table Body Section --}}
    {{#each instances}}
    <tr>
        <td>{{this.instance_id}}</td>
        <td>{{this.spell_name}}</td>
        <td>{{this.wizard_name}}</td>
        <td>{{this.notes}}</td>  
        <td>
            <button>Edit</button>
        </td>
        <td>
            <button>Delete</button>
        </td>
    </tr>
    {{/each}}
</table>

{{!-- ADD INSTANCE FORM --}}
<h2>Add Spell Instance</h2>
<p>To add a new instance, search for a spell and the wizard who used it. Add any notes and click submit!</p>
<form id="add-instance-form-ajax">
    {{!-- Select wizard --}}
    <label for="instances-wizards-option">Search wizard:</label>
    <input 
    id="instances-wizards-option" 
    list="instances-wizards-option-datalist"
    name="instances-wizards-option"
    type="text"
    placeholder="Search wizard">

    <datalist id="instances-wizards-option-datalist">
        <option value=""></option>
        {{#each wizards}}
        <option value="{{this.wizard_name}}"></option>
        {{/each}}
    </datalist>

    {{!-- Select Spell --}}
    <label for="instances-spells-option">Search Spell:</label>
    <input 
    id="instances-spells-option"
    list="instances-spells-option-datalist"
    name="instances-spells-option" 
    type="text"
    placeholder="Search spell">

    <datalist id="instances-spells-option-datalist">
        <option value=""></option>
        {{#each spells}}
        <option value="{{this.spell_name}}"></option>
        {{/each}}
    </datalist>

    {{!-- Add Notes --}}
    <label for="input-instance-notes">Notes:</label>
    <input type="text" name="input-instance-notes" id="input-instance-notes" placeholder="occured on..."/>

    <input type="Submit"/>
</form>

<script src="./js/add_instance.js"></script>


