<!-- Spell Instances -->

<h1>List of Spells Instances</h1>
<p>View a list of wizards who have used each spell, or add a new instance where a spell was used.</p>
{{!-- Display table with all spells --}}
<table id="instances-table">
    {{!-- Add table headers based on data --}}
    <thead>
        <tr>
            <th>Instance ID</th>
            <th>Spell Name</th>
            <th>Wizard Name</th>
            <th>Notes</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>

    {{!-- Table Body Section --}}
    {{#each instances}}
    <tr>
        <td>{{this.instance_id}}</td>
        <td>{{this.spell_name}}</td>
        <td>{{this.wizard_name}}</td>
        <td>{{this.notes}}</td>  
        <td>
            <a href="/updateInstance/{{this.instance_id}}">
                <button>Edit</button>
            </a>
        </td>
        <td>
            <button onclick="deleteInstance({{this.instance_id}})">Delete</button>
        </td>
    </tr>
    {{/each}}
</table>

<script src="./js/delete_instance.js"></script>

{{!-- ADD INSTANCE FORM --}}
<h2>Add Spell Instance</h2>
<p>To add a new instance, search for a spell and the wizard who used it. Add any notes and click submit!</p>
<form id="add-instance-form-ajax">
    {{!-- Select wizard --}}
    <label for="instances-wizards-option">Search wizard:</label>
    <input 
    id="instances-wizards-option" 
    list="instances-wizards-option-datalist"
    name="instances-wizards-option"
    type="text"
    placeholder="Search wizard">

    <datalist id="instances-wizards-option-datalist">
        <option value=""></option>
        {{#each wizards}}
        <option value="{{this.wizard_name}}"></option>
        {{/each}}
    </datalist>

    {{!-- Select Spell --}}
    <label for="instances-spells-option">Search Spell:</label>
    <input 
    id="instances-spells-option"
    list="instances-spells-option-datalist"
    name="instances-spells-option" 
    type="text"
    placeholder="Search spell">

    <datalist id="instances-spells-option-datalist">
        <option value=""></option>
        {{#each spells}}
        <option value="{{this.spell_name}}"></option>
        {{/each}}
    </datalist>

    {{!-- Add Notes --}}
    <label for="input-instance-notes">Notes:</label>
    <input type="text" name="input-instance-notes" id="input-instance-notes" placeholder="occured on..."/>

    <input type="Submit"/>
</form>

<script src="./js/add_instance.js"></script>


