<!-- spells.hbs -->
<nav>
    <ul>
         <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/wizards">Wizards</a>
        </li>
        <li>
            <a href="/houses">Houses</a>
        </li>
        <li>
            <a href="/spells">Spells</a>
        </li>
        <li>
            <a href="/instances">Spell Instances</a>
        </li>
       
    </ul>
</nav>

<h1>Spells Information!</h1>
<p>you can view and add new spells in this page!</p>
{{!-- Display table with all spells --}}
<table id="spell-table">
    {{!-- Add table headers based on data --}}
    <thead>
        <tr>
            {{#each data.[0]}}
                <th>
                {{@key}}
                </th>
            {{/each}}
            <th>Delete</th>
        </tr>
    </thead>

    {{!-- Table Body Section --}}
    {{#each data}}
    <tr>
        <td>{{this.spell_id}}</td>
        <td>{{this.spell_name}}</td>
        <td>{{this.type_name}}</td>
        <td>{{this.spell_description}}</td>
        
        <td>
            <a href="updateSpell/{{this.spell_id}}">
                <button>Edit</button>
            </a>
        </td>
        <td><button onclick="deleteSpell( {{this.spell_id}}, '{{this.type_name}}')">Delete</button></td>
    </tr>
    {{/each}}
</table>

<script src="/js/update_spell.js"></script>
<script src="./js/delete_spell.js"></script>



{{!-- Add Spell Form --}}
<h2>Add a new spell here</h2>
<p>To add a new spell, please enter the relevant information below and click 'Submit'!</p>
<form id="add-spell-form-ajax">
    {{!-- Add spell name --}}
    <label for="input-spell-name">Spell Name: </label>
    <input type="text" name="input-spell-name" id="input-spell-name" />
    {{!-- Add spell desc --}}
    <label for="input-spell-desc">Spell Description: </label>
    <input type="text" name="input-spell-desc" id="input-spell-desc" />
    {{!-- Add spell type --}}
    <label for="input-spell-type">Spell Type: </label>
    <select name="input-spell-type" id="input-spell-type">
        <option value="">Select a type</option>
        {{#each types}}
        <option value="{{this.type_id}}">{{this.type_name}}</option>
        {{/each}}
    </select>

    <input type="submit"/>
</form>

{{! Embed our javascript to handle the DOM manipulation and AJAX request }}
<script src="./js/add_spell.js"></script>

