<div class="return-button-container" >
    <a href="/instances"> 
          <button>Return to Instances</button>
    </a>
</div>

<h1>Update Spell Instance</h1>

<table id="instance-table-{{instance.instance_id}}">
    {{!-- Add table headers based on data --}}
    <thead>
        <tr>
            <th>Instance ID</th>
            <th>Spell Name</th>
            <th>Wizard Name</th>
            <th>Notes</th>
        </tr>
    </thead>

    {{!-- Table Body Section --}}
    <tr>
        <td id="update-instance-id">{{instance.instance_id}}</td>
        <td>{{instance.spell_name}}</td>
        <td>{{instance.wizard_name}}</td>
        <td class="instance-notes">{{instance.notes}}</td>  
    </tr>
</table>

<div class="update-container">
    <h3>Edit Instance</h3>
    <form id="update-instance-form-ajax" class="update-form">
        {{!-- Select wizard --}}
        <div class="form-input-group">
            <label for="update-wizards-option">Search Wizard:</label>
            <input 
            id="update-wizards-option" 
            list="update-wizards-option-datalist"
            name="update-wizards-option"
            type="text"
            placeholder="{{instance.wizard_name}}">
            <datalist id="update-wizards-option-datalist">
                <option value=""></option>
                {{#each wizards}}
                    <option value="{{this.wizard_name}}"></option>
                {{/each}}
            </datalist>
        </div>
        <div class="form-input-group">
            {{!-- Select Spell --}}
            <label for="update-spells-option">Search Spell:</label>
            <input 
            id="update-spells-option"
            list="update-spells-option-datalist"
            name="update-spells-option" 
            type="text"
            placeholder="{{instance.spell_name}}">

            <datalist id="update-spells-option-datalist">
                <option value=""></option>
                {{#each spells}}
                    <option value="{{this.spell_name}}"></option>
                {{/each}}
            </datalist>
        </div>
        <div class="form-input-group">
            {{!-- Add Notes --}}
            <label for="input-instance-notes">Notes:</label>
            <input type="text" name="input-instance-notes" id="input-instance-notes" placeholder="Note: {{instance.notes}}"/>
        </div>

        <input type="Submit" class="update-button"/>
    </form>
</div>



<script src="/js/update_instance.js"></script>
