<!-- update-spells.hbs -->

<nav>
    <ul>
         <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/wizards">Wizards</a>
        </li>
        <li>
            <a href="/houses">Houses</a>
        </li>
        <li>
            <a href="/spells">Spells</a>
        </li>
        <li>
            <a href="/spell-instances">Spell Instances</a>
        </li>
        <li>
            <a href="/types">Types</a>
        </li>
       
    </ul>
</nav>

<h1>Update Spell</h1>
<p>you can update a spell on this page!</p>

<h2>Update Spell Form</h2>
<p>Enter any updated information in the form below. Selecting NULL for the spell type will remove the type from that spell.</p>
<form id="update-spell-form-ajax">
    <label>Spell ID:</label>
    <span id="update-spell-id">{{spell.spell_id}}</span>
    <label for="update-spell-name">Spell Name:</label>
    <input id="update-spell-name" name="update-spell-name" type="text" value="{{spell.spell_name}}"/>

    <label>Spell Description:</label>
    <textarea id="update-spell-desc" name="update-spell-desc" type="text" >{{spell.spell_description}}</textarea>

    <label>Spell Type:</label>
    <select id="update-spell-type" id="update-spell-type" >
        {{#each types}}
            {{#if (eq ../spell.type_name this.type_name)}}
            <option id="initial-spell-type" value="{{this.type_id}}" selected>{{this.type_name}}</option>
            {{else}}
            <option value="{{this.type_id}}" >{{this.type_name}}</option>
            {{/if}}
        {{/each}}
        {{!-- empty string option represents NULL value --}}
        <option value="">NULL</option>   
    </select>

    <input type="submit">

</form>

<script src="/js/update_spell.js"></script>

