
<h1>Update Wizard</h1>
<p>Use the form below to update any information regarding {{wizard.wizard_name}}.</p>
{{!-- Display current wizard --}}
<table>
    {{!-- table header --}}
    <thead>
        <tr>
            <th>Wizard ID</th>
            <th>Wizard Name</th>
            <th>Wizard's House</th>
            <th>Graduated?</th>
        </tr>
    </thead>
    {{!-- table body --}}
    <tbody>
        <tr>
            <td id="update-wizard-id">{{wizard.wizard_id}}</td>
            <td>{{wizard.wizard_name}}</td>
            <td>{{wizard.house_name}}</td>
            {{#if (eq wizard.wizard_graduated 1)}}
                <td>Yes</td>
            {{else}}
                <td>No</td> 
            {{/if}}        
        </tr>
    </tbody>
</table>

<h2>Update Wizard Form</h2>
<form id="update-wizard-form-ajax">
    {{!-- update wizard name --}}
    <label for="update-wizard-name">Full name: </label>
    <input type="text" name="update-wizard-name" id="update-wizard-name" placeholder="{{wizard.wizard_name}}"/>
    {{!-- update wizard house --}}
    <label for="update-wizard-house">Wizard's House: </label>
    <select name="update-wizard-house" id="update-wizard-house">
        {{#each houses as |house|}}
            {{#if (eq house.house_id ../wizard.house_id)}}
                <option value="{{this.house_id}}" selected>{{this.house_name}}</option>
            {{else}}
                <option value="{{this.house_id}}">{{this.house_name}}</option>
            {{/if}}
        {{/each}}
    </select>
    {{!-- update wizard graduated --}}
    <label for="update-wizard-graduated">Graduated? </label>
    <select name="update-wizard-graduated" id="update-wizard-graduated" >
        {{#if (eq wizard.wizard_graduated 1)}}
            <option value="1" selected>Yes</option>
            <option value="0">No</option>
        {{else}}
            <option value="1">Yes</option>
            <option value="0" selected>No</option>
        {{/if}}    
    </select>
    <input type="submit">
</form>

<script src="/js/update_wizard.js"></script>