<!-- wizards.hbs -->
<nav>
    <ul>
         <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/wizards">Wizards</a>
        </li>
        <li>
            <a href="/houses">Houses</a>
        </li>
        <li>
            <a href="/spells">Spells</a>
        </li>
        <li>
            <a href="/spell-instances">Spell Instances</a>
        </li>
       
    </ul>
</nav>

<h1>Wizard Information!</h1>
<p>you can view and add new wizards in this page!</p>

{{! Create a table }}
<table id="wizard-table">

  {{! Header section }}
  <thead>

    {{! For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders }}
    <tr>
      {{#each data.[0]}}
        <th>
          {{@key}}
        </th>
      {{/each}}
      <th>Delete</th>
    </tr>
  </thead>

  {{! Body section }}
  <tbody>

    {{! For each row, print the id, fname, lname, homeworld and age, in order }}
    {{#each data}}
      <tr>
        <td>{{this.wizard_id}}</td>
        <td>{{this.wizard_name}}</td>
        <td>{{this.wizard_graduated}}</td>        
        <td>{{this.house_name}}</td>
        <td><button onclick="deleteWizard({{this.wizard_id}})">Delete</button></td>
      </tr>
    {{/each}}
  </tbody>
</table>

<script src="./js/delete_wizard.js"></script>

<!-- /views/index.hbs -->

{{! Form to add a record to the table  }}
<h2>Add a new wizard here</h2>
<p>To add a new wizard, please enter their information below and click 'Submit'!</p>
<form id="add-wizard-form-ajax">
  <label for="input-wizard_name">Wizard Name: </label>
  <input type="text" name="input-wizard_name" id="input-wizard_name" />

  <label for="input-wizard_graduated">Graduated: </label>
  <select name="input-wizard_graduated" id="input-wizard_graduated">
    <option value="">--</option>
    <option value="1">Yes</option>
    <option value="2">No</option>   
  </select>

  <label for="input-wizard_house">House: </label>
  {{! <input type="number" name="input-wizard_house" id="input-wizard_house"> }}
  <select name="input-wizard_house" id="input-wizard_house">
    <option value="">Select a House</option>
    {{#each Houses}}
      <option value="{{this.house_id}}">{{this.house_name}}</option>
    {{/each}}
  </select>

  <input type="submit" />
</form>

{{! Embed our javascript to handle the DOM manipulation and AJAX request }}
<script src="./js/add_wizard.js"></script>


{{!-- Form to update wizard based on name --}}
<h2>Update Wizard Form</h2>
<p>To update a specific wizard, select their name from the drop-down menu on the left and update their information</p>
<form id="update-wizard-form-ajax">

    <label for="update-wizard-name">Full name: </label>
    <select name="update-wizard-name" id="update-wizard-name">
        <option value="">Select a Wizard</option>
        {{#each data}}
        <option value="{{this.wizard_id}}">{{this.wizard_name}}</option>
        {{/each}}
    </select>

    <label for="update-wizard-house">Wizard's House: </label>
    <select name="update-wizard-house" id="update-wizard-house">
        <option value="">Select a House</option>
        {{#each Houses}}
        <option value="{{this.house_id}}">{{this.house_name}}</option>
        {{/each}}
    </select>
    <label for="update-wizard-graduated">Wizard Graduated? </label>
    <select name="update-wizard-graduated" id="update-wizard-graduated" >
        <option value="">--</option>
        <option value="1">Yes</option>
        <option value="2">No</option>    
    </select>
    <input type="submit">
</form>

<script src="./js/update_wizard.js"></script>



