<!-- wizards.hbs -->
<nav>
    <ul>
         <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/wizards">Wizards</a>
        </li>
        <li>
            <a href="/houses">Houses</a>
        </li>
        <li>
            <a href="/spells">Spells</a>
        </li>
        <li>
            <a href="/instances">Spell Instances</a>
        </li>
        <li>
            <a href="/types">Types</a>
        </li>
       
    </ul>
</nav>

<h1>Wizards</h1>
<p>View and edit the current list of Hogwarts wizards and their information</p>

{{! Create a table }}
<table id="wizard-table">

  {{! Header section }}
  <thead>
    <tr>
      <th>Wizard ID</th>
      <th>Wizard Name</th>
      <th>Wizard's House</th>
      <th>Graduated?</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>

  {{! Body section }}
  <tbody>
    {{! For each row, print the id, name, house, graduation status, edit button, and delete button }}
    {{#each data}}
      <tr>
        <td>{{this.wizard_id}}</td>
        <td>{{this.wizard_name}}</td>
        <td>{{this.house_name}}</td>
        {{#if (eq this.wizard_graduated 1)}}
          <td>Yes</td>
          {{else}}
          <td>No</td> 
        {{/if}}      
        <td>
          <a href="/updateWizard/{{this.wizard_id}}">
            <button>Edit</button>
          </a>
        </td>
        <td><button onclick="deleteWizard({{this.wizard_id}})">Delete</button></td>
      </tr>
    {{/each}}
  </tbody>
</table>

<script src="./js/delete_wizard.js"></script>


{{! Form to add a wizard to the table  }}
<h2>Add a new wizard here</h2>
<p>To add a new wizard, please enter their information below and click 'Submit'!</p>
<form id="add-wizard-form-ajax">
  <label for="input-wizard_name">Wizard Name: </label>
  <input type="text" name="input-wizard_name" id="input-wizard_name" placeholder="Dumbledore"/>

  <label for="input-wizard_graduated">Graduated: </label>
  <select name="input-wizard_graduated" id="input-wizard_graduated">
    <option value="1">Yes</option>
    <option value="0">No</option>   
  </select>

  <label for="input-wizard_house">House: </label>
  {{! <input type="number" name="input-wizard_house" id="input-wizard_house"> }}
  <select name="input-wizard_house" id="input-wizard_house">
    <option value="">Select a House</option>
    {{#each Houses}}
      <option value="{{this.house_id}}">{{this.house_name}}</option>
    {{/each}}
  </select>

  <input type="submit" />
</form>

{{! Embed our javascript to handle the DOM manipulation and AJAX request }}
<script src="./js/add_wizard.js"></script>



